{%extends 'base.html'%}

{% load staticfiles %}

{% block body %} 

<h1>Xray Detail</h1>

<form id="myForm" action = "{% url 'xray:diagnosis' pk=xray.pk %}" method = 'post'>
    {% csrf_token %}
<div style="vertical-align:middle; text-align:center">
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'img/team/zz.gif' %}" alt="">
    	<br><h2> &emsp;&emsp;로딩중입니다...<h2></br>
    <!--<img src="{{ xray.image.url }}"></img>-->
    <!--<a href="#" class="btn btn-primary btn-lg">진단</a>-->
    <!--<input type = 'submit' value ='진단'>-->
</div>

<!--<a href="{% url 'xray:delete' pk=xray.pk %}">Delete</a>-->
</form>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script>
$(document).ready(function() {
    document.getElementById("myForm").submit();
});
</script>
{% endblock %}