{%extends 'base.html'%}

{% load staticfiles %}

{% block body %} 

     <!--main page-->
	 <div class="slider">		
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>
				    <div class="item">
						<img src="{% static 'img/team/deep.png' %}" class="img-responsive" style="width:100%; height:570px;" salt=""> 

						<div class="carousel-caption" style="top:20%">
							
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">								
								<!--<form class="form-inline">-->
									<!--<div class="form-group">-->
									<!--	<button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Deep Go!</button>-->
									<!--</div>-->
									<div class="form-group">
										<h2 style="font-family:Roboto">AI's health advice</h2>
										<h1 style="font-family:Roboto">Helping to detect Pneumonia</h1>
										<br>
										<br>
										<br>
                                        <!--<label style="font-size:15px" class="btn btn-primary btn-lg" for="my-file-selector">-->
                                        <!--    <input id="my-file-selector" type="file" style="display:none"  -->
                                        <!--    onchange="$('#upload-file-info').html(this.files[0].name)">-->
                                        <!--    이미지 선택-->
                                        <!--</label>-->
                                     <!--<div class="input-group">-->
  <!--<div class="custom-file">-->
  <!--  <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">-->
  <!--  <br>  -->
  <!--  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>-->
  <!--</div>-->
  <!--<div class="input-group-append">-->
  <!--  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>-->
  <!--</div>-->
  <!--<div class="input-group">-->
  
  <form action="{%url 'xray:create'%}" method="post" enctype="multipart/form-data">
  	{%csrf_token%}
	  <input type="file" class="form-control" name="image" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" style="width:50%;margin-left:25%;" required>
	  <div class="input-group-append" id="button-addon4">
	  	<br>
	    <input type="submit" class="btn btn-outline-secondary" value="진단하러가기" ></input>
	  </div>
  </form>
  
</div>
<!--</div>   -->

                                    </div>

								<!--</form>-->
							</div>
						</div>
				    </div> 
				</div>
			</div> <!--/#carousel-slider-->
		</div><!--/#about-slider-->
	</div><!--/#slider-->
    </div>


  <div id="feature">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h3>Introduction</h3>
					<p>흉부 x-ray 사진을 입력하여 폐렴을 진단받아 보세요!<br>
					파일 선택 이후 진단하러가기 버튼을 누르면 됩니다</p>
				</div>
			</div>
    	<div/>
    <div/>

<br>
<div class="text-center">
	<div class="copyright">
		&copy; 2018 <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">DeepBook</a>. All Rights Reserved.
	</div>
</div>			

{% endblock %}