{%extends 'base.html'%}

{% load staticfiles %}

{% block body %}
    
     <!--main page-->
	 <div class="slider">		
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>
				    <div class="item">
						<img src="{% static 'img/team/home.png' %}" class="img-responsive" style="width:1300px; height:600px;" alt=""> 

						<div class="carousel-caption" style="top:30%">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2>Our Services</h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
								<p>기술도서 추천 및 폐결절 예측 서비스</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">								
								<form class="form-inline">
									<div class="form-group">
										<button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Deep Go!</button>
									</div>
									<div class="form-group">
										<button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Book Go!</button>
									</div>
								</form>
							</div>
						</div>
				    </div> 
				</div>
			</div> <!--/#carousel-slider-->
		</div><!--/#about-slider-->
	</div><!--/#slider-->
    </div>
    
    <div id="feature">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h3>Introduction</h3>
					<p>삼성 멀티캠퍼스 딥러닝 기반의 빅데이터 분석 전문가 수업에서 시작된 프로젝트로<br>
					딥러닝과 머신러닝 기반의 서비스입니다.</p>
				</div>
			</div>
    	<div/>
    <div/>
    	<div class="text-center">
		<div class="copyright">
			&copy; 2018 <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">DeepBook</a>. All Rights Reserved.
		</div>
	</div>	
{%endblock%}