{%extends 'base.html'%}

{% load staticfiles %}

{% block body %} <!--사진의 경우 옵션 2개 중 중 1개만 출력할 것, 또한 사진을 넣으면 가운데 정렬 실시--> 
   <div id="our-team">
		<div class="container">
			<div class="text-center">
				<h3>Our Team</h3>
				<p>딥북을 만든 팀원을 소개합니다<br>추가 설명</p>

		<div class="team">
			<div class="container">
				<div class="row">
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/sanghyun.jpg' %}" class="img-responsive" style="width:300px; height:270px;" alt="">
							<h2>Sanghyeon Ahn</h2>
							<h4>Founder & CEO</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/YounsungJung.jpg' %}" class="img-responsive" style="width:300px; height:270px;" alt="">
							<h2>Younsung Jung</h2>
							<h4>Creative Director</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/GeoJu.jpg' %}" class="img-responsive" style="width:300px; height:270px;" alt="">
							<h2>Geo Ju</h2>
							<h4>Creative Director</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/team4.jpg' %}" class="img-responsive" alt="">
							<h2>John Smith</h2>
							<h4>Creative Director</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen tum neque a rutrum varius</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#our-team-->
	
	
<div class="text-center">
		<div class="copyright">
			&copy; 2018 <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">DeepBook</a>. All Rights Reserved.
		</div>

	</div>			

	
	
	
{% endblock %}