{%extends 'base.html'%}

{% load staticfiles %}

{% block body %} <!--사진의 경우 옵션 2개 중 중 1개만 출력할 것, 또한 사진을 넣으면 가운데 정렬 실시--> 
   <div id="our-team">
		<div class="container">
			<div class="text-center">
				<h3>Our Team</h3>
				<p style="font-family:Nanum Gothic;">딥북(DeepBook)을 만든 팀원을 소개합니다.<br><br><br></p>

		<div class="team">
			<div class="container">
				<div class="row">
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/GeoJu2.jpg' %}" class="img-responsive" style="width:250px; height:270px;" alt="">
							<h2>Geo Ju</h2>
							<h4>Team Leader & Algorithmist</h4>
							<p>안녕하세요. 한전에 입사하는 팀장 주지오입니다.</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/sumin.jpg' %}" class="img-responsive" style="width:250px; height:270px;"alt="">
							<h2>Sumin Park</h2>
							<h4>Data Scientist</h4>
							<p>알아서 작성해주세요.ㅎㅎ</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/sanghyun.jpg' %}" class="img-responsive" style="width:250px; height:270px;" alt="">
							<h2>Sanghyeon An</h2>
							<h4>UI designer & Report creator</h4>
							<p>안녕하세요. 멀티캠퍼스 교육을 받고 중대기로에 놓여 있는 안상현입니다.</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
							<img src="{% static 'img/team/YounsungJung.jpg' %}" class="img-responsive" style="width:250px; height:270px;" alt="">
							<h2>Younsung Jung</h2>
							<h4>Data Engineer</h4>
							<p>안녕하세요. 대학원에 진학하는 정윤성입니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#our-team-->
	
	
<div class="text-center">
		<div class="copyright">
			&copy; 2018 <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">DeepBook</a>. All Rights Reserved.
		</div>

	</div>			

	
	
	
{% endblock %}